h2{
    color: green;
}
.footer,a{
    color: red;
}
ul,li a{
    color: red;
    text-decoration: none;
    list-style-type: none;

}
button{
    background-color: green;
    color: white;
}
.sb{
    background-color: blue;
    color: white;
}
.b1{
    background-color: blue;
    color: white;
    text-align: center;
    margin-left: 70px;
    padding: 10px;
    
}
.b11{
    background-color: blue;
    color: white;
}

 .social, a,.social{
    color: black;
    text-decoration: none;
} 